<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main blog Page</title>
</head>
<body>
<a href="/create">Add</a>

<ul>
    <% posts.forEach(function(post){ %>

        <b><%= post.title %></b><br/>
             <%= post.body %>
         <br>
            <br>
    <% }); %>
</ul>

</body>
</html>